[submodule "deps/flibs"]
	path = deps/flibs
	url = git://github.com/finaldie/final_libs.git
[submodule "deps/skull-ft"]
	path = deps/skull-ft
	url = git://github.com/finaldie/skull-ft.git
[submodule "deps/jemalloc"]
	path = deps/jemalloc
	url = git://github.com/jemalloc/jemalloc.git
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = git://github.com/google/protobuf.git
