# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Python
*.pyc

# ctag
.tags
tags

# cscope
.cscope.*
cscope.*

# protobuf-c
*.pb-c.*

# generated metrics source files
src/api/sk_metrics.h
src/common/sk_metrics.c

# skull-engine binary
src/skull-engine

# python build folder
src/user-py/build/

# deps folder
deps/protobuf
deps/jemalloc
