thread_num: 1
command_port: 7759
bio: 1
log_name: skull.log
log_level: debug

# Optional workflow item 'bind4': which IPv4 address we want to bind, by default is 127.0.0.1
workflows:

# Optional service item 'max_qsize': control the max_queue_size, by default is 1024
# Optional workflow item 'timeout': transaction timeout, unit is millisecond, by default is 0 (no timeout)
services:

languages: [cpp, py]

# Optional global item 'max_fds': means max open files, if there is no right
#  permission to set it successfully, the engine will use the default bash value
## max_fds: 65535
